#todoCards {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: flex-start; 
}


.todoCard {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    background-color: #f9f9f9; 
    min-width: 200px; 
    max-width: 250px; 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
}

.todoCard .delBtn {
    align-self: flex-end; 
    cursor: pointer;
    color: grey;
    transition: color 0.3s ease; 
}

.todoCard .delBtn:hover {
    color: red; 
}

#count {
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 15px; 
    padding: 10px; 
    background-color: #f1f1f1; 
    border-radius: 5px; 
    text-align: center; 
    width: 100%; 
    box-sizing: border-box; 
}
